<%= form_for(empleado, validate: true) do |f| %>
  <% if empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <%= f.label :nombre %>
          <%= f.text_field :nombre, class: "form-control"%>
        </div>

        <div class="col-xs-6">
          <%= f.label :direccion %>
          <%= f.text_field :direccion, class: "form-control"%>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <%= f.label :telefono %>
          <%= f.number_field :telefono, class: "form-control"%>
        </div>

        <div class="col-xs-6">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control"%>
        </div>
      </div>
    </div>
    
    <div class="col-xs-6">
      <%= f.label :ruc %>
      <%= f.text_field :ruc, class: "form-control"%>
    </div>

    <div class="col-xs-12 modal-footer" > 
      <%= link_to "Cancelar", empleados_path, class: "btn btn-default", style:"color:black" %>
      <%= f.submit "Guardar", class: "btn btn-primary", id: "guardar" %>
    </div>
  </div>
  
<% end %>
