	
<%= f.fields_for :proceso_detalles, f.object.proceso_detalles.order(:numero =>"desc"),  :wrapper => false do |detalle| %>
  <tr class="fields">
    <td><%= detalle.text_field :numero, :class => "form-control", size: '1', id: "numero", readonly: true%></td>
    <td><%= detalle.text_field :lugar, :class => "form-control", :validate => true%></td>
    <td><%= detalle.text_field :fecha_entrada, class: "datepicker form-control", :validate => true%></td>
    <td><%= detalle.text_field :fecha_salida, class: "datepicker form-control" %></td>
    <td><%= detalle.link_to_remove '', :class => "btn btn-sm glyphicon glyphicon-remove", title: 'Eliminar' %></td>
  </tr>
<% end %>

  
