<div class="box box-primary">
  <div class="box-header with-border">
    <h1 align="center">Tipo de Proceso</h1>

  </div>

  <div class="box-body">
    
    <p>
      <strong>Doc numero:</strong>
      <%= @proceso.doc_numero %>
    </p>
    <p>
      <strong>Referencia:</strong>
      <%= @proceso.referencia %>
    </p>
    <p>
      <strong>Estado:</strong>
      <%= @proceso.estado %>
    </p>
    <p>
      <strong>Descripcion:</strong>
      <%= @proceso.descripcion %>
    </p>
    <p>
      <strong>Fecha ingreso:</strong>
      <%= @proceso.fecha_ingreso %>
    </p>
    <p>
      <strong>Fecha salida:</strong>
      <%= @proceso.fecha_salida %>
    </p>
    <p>
      <strong>Cliente:</strong>
      <%= @proceso.cliente.nombre %>
    </p>
    <p>
      <strong>Proceso:</strong>
      <%= @proceso.tipo_proceso.nombre %>
    </p>
    <p>
      <strong>Encargado:</strong>
      <%= @proceso.empleado.nombre %>
    </p>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Etapas del proceso</th>
          <th>Estado</th>
          <th>Fecha Limite</th>
        </tr>
      </thead>
        <tbody>
          <% @detalles.each do |detalle| %>
            <tr>
              <td><%= detalle.etapa %></td>
              <td><%= detalle.estado %></td>
              <td><%= detalle.fecha %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    <div class="col-xs-12 modal-footer" > 
          <%= link_to "Atras", procesos_path, class: "btn btn-default", style:"color:black" %>
          <%= link_to "Editar",  edit_proceso_path(@proceso), class: "btn btn-primary", id: "guardar", style:"color:white" %>
      </div>
  </div>
</div>
