<div class="box box-primary">
  <div class="box-body">
    <div class="row">
      <div class="col-md-2">
        <%= link_to 'Nuevo Rol', new_rol_path(@rol), {:class=>"btn btn-primary", style:"color:white"}%>
      </div>
    </div>
    <br>

    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>Nombre</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @roles.each do |rol| %>
          <tr>
            <td><%= rol.nombre %></td>
            <td><%= link_to '', rol, class: 'btn btn-primary btn-sm glyphicon glyphicon-eye-open', style:"color:white", title: 'Ver' %>
            <% if rol.nombre != "admin" %>
              <%= link_to '', edit_rol_path(rol), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', title: 'Editar', style: 'color: black' %>
              <%= link_to '', rol, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm glyphicon glyphicon-trash', style:"color:black", title: 'Eliminar' %></td>
            <% end -%> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>