<div class="box box-primary">
  <div class="box-header with-border">
    <h1 align="center">Mostrando Actividad</h1>
  </div>

  <div class="box-body">
  	<p>
	  <strong>Título:</strong>
	  <%= @actividad.nombre %>
	</p>

	<p>
	  <strong>Descripción:</strong>
	  <%= @actividad.descripcion %>
	</p>
	<p>
	  <strong>Fecha</strong>
	  <%= @actividad.inicio.strftime("%d/%m/%Y %H:%M") %>
	</p>

	<div class="col-xs-12 modal-footer" >
	  <div class="pull-left">
	  	<%= link_to "Posponer",  posponer_actividad_path(@actividad), class: "btn btn-default", style:"color:black" %>
	  </div> 
	  <%= link_to "Atras", root_path, class: "btn btn-default", style:"color:black" %>
	  <%= link_to "Editar",  edit_actividad_path(@actividad), class: "btn btn-primary", id: "editar", style:"color:white" %>
	</div>
  	
  </div>
</div>
