<div class="box box-primary">
  <div class="box-body">
    <table class="table table-bordered table-hover table-responsive table-stripped">
      <thead>
        <tr>
          <th>N° de nota</th>
          <th>Cliente</th>
          <th>N° de Memo</th>
          <th>Fecha de comunicación</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @respuestas.each do |respuesta| %>
          <tr>
            <td><%= respuesta.proceso.doc_numero%></td>
            <td><%= respuesta.proceso.cliente.nombre%></td>
            <td><%= respuesta.memo %></td>
            <td><%= respuesta.fecha %></td>
            <td><%= link_to '', respuesta, class: 'btn btn-primary btn-sm glyphicon glyphicon-eye-open', style:"color:white" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 
</div>