<%= form_for(proceso_detalle) do |f| %>
  <% if proceso_detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proceso_detalle.errors.count, "error") %> prohibited this proceso_detalle from being saved:</h2>

      <ul>
      <% proceso_detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="field">
    <%= f.label :lugar %>
    <%= f.text_field :lugar %>
  </div>

  <div class="field">
    <%= f.label :fecha_entrada %>
    <%= f.date_select :fecha_entrada %>
  </div>

  <div class="field">
    <%= f.label :fecha_salida %>
    <%= f.date_select :fecha_salida %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
