<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @proceso_detalle.numero %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @proceso_detalle.lugar %>
</p>

<p>
  <strong>Fecha entrada:</strong>
  <%= @proceso_detalle.fecha_entrada %>
</p>

<p>
  <strong>Fecha salida:</strong>
  <%= @proceso_detalle.fecha_salida %>
</p>

<%= link_to 'Edit', edit_proceso_detalle_path(@proceso_detalle) %> |
<%= link_to 'Back', proceso_detalles_path %>
